<body [ngStyle]="{'background-color': colorFondo}" >
  <br>
  <div class="row container">
    <div class="col-12" [ngStyle]="{'color': colorLetras}">
      <h1 >Selector de Color Hexadecimal</h1>
      <div class="col-md-6 ">
        En esta pagina podras seleccionar el color que desees y previsualizarlo para
        que tengas una idea de como se ve en letras y de fondo ademas te muestra el codigo hexadecimal para que lo
        puedas copiar
      </div>
    </div>
  </div>
  <br>
  <div class="row container" >
    <div class="col-12" >
      <h2 [ngStyle]="{'color': colorLetras}">Seleccione un color para las letras y el fondo </h2>
    </div>
  </div>

  <div class="row container">
    <div class="col-12">

      <input type="color" [value]="color" (change)="capturarColorLetras($event)">
      <input type="color" [value]="color" (change)="capturarColorFondo($event)">
      <div [ngStyle]="{'color': colorLetras}">Codigo Letras: {{colorLetras}}</div>
      <div [ngStyle]="{'color': colorLetras}">Codigo Fondo: {{colorFondo}}</div>
    </div>
  </div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
